*{
   margin: 0;
   padding: 0;
}

main{
   height: 100vh;
   text-align: center;
   
}
header{
   min-height: 14vh;
   height: auto;
   background-color: rgb(165, 88, 238);
   align-items: center;
   justify-content: center;
   display: flex;
}
.heading{
   text-transform: uppercase;
   font-weight: 700;
   font-size: 40px;
}
.container{
   height: 70vh;
   margin-top: 7%;
}
.elements{
   display: flex;
   justify-content: center;
   gap: 2rem;
}
.box{
   height: 20vh;
   width: 20vh;
   border-radius: 50%;
   font-size: 60px;
   border: none;
   cursor: pointer;
}
.box:nth-child(1){
   background-color: rgba(242, 137, 154, 0.7);

}
.box:nth-child(2){
   background-color: rgba(219, 53, 219, 0.6);
}
.box:nth-child(3){
   background-color: rgb(132, 132, 243, 0.6);

}
.box:nth-child(1):hover{
   background-color: rgba(233, 141, 156, 0.9);
   transition: 0.3s;
}
.box:nth-child(2):hover{
   background-color:  rgba(219, 53, 219, 0.8);
   transition: 0.3s;
}
.box:nth-child(3):hover{
   background-color: rgb(132, 132, 243, 0.8);
   transition: 0.3s;
}

.calculation{
   height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 12vh;
   gap: 5rem;
}
.user{
   font-size: 30px;
   font-weight: 600;
}

.result{
   height: 15vh;
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
}
.res{
   background-color: darkslategray;
   color: #fff;
   font-size: 24px;
   border: none;
   border-radius: 10px;
   height: 6vh;
   width: auto;
   padding: 20px 20px 20px 20px;
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
}
.res:hover{
   opacity: 0.9;
}


.hideContainer{
   display: none;
}
.winnerColor{
   background-color: rgb(165, 88, 238);
}
.winnerDiv{
   height: 80vh;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.newGame{
   background-color: rgb(9, 4, 107);
   color: #fff;
   font-size: 24px;
   border: none;
   border-radius: 10px;
   height: 6vh;
   width: 20vh;
}
.winnerHide{
   display: none;
}


@media screen and (max-width: 500px) {
   .box{
      height: 15vh;
      width: 15vh;
      font-size: 50px;
   }
   .elements{
      justify-content: space-evenly;
      gap: 0rem;
   }
   .heading{
      font-size: 30px;
   }
   .container{
      margin-top: 15vh;
   }
   .calculation{
      gap: 4rem;
   }
   
}


@media screen and (max-width: 350px) {
   .box{
      height: 8vh;
      width: 8vh;
      font-size: 40px;
   }
   .elements{
      justify-content: space-evenly;
      gap: 0rem;
   }
   .container{
      margin-top: 15vh;
   }
   .calculation{
      gap: 3rem;
   }
}